.example-container {
    height: 500px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  .mat-dialog-container{
    height: 700px !important;
  }

  mat-form-field {
    margin-left: 10px;
    width: 200px;
  }