<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Panel de Cliente</a>
  <button class="btn btn-outline-danger my-2 my-sm-0" (click)="cerrarSesion()" type="submit">Cerrar Sesión</button>
</nav>

<div class="row my-2 ml-1">
  <button class="btn btn-primary" type="button" (click)="cambiarVerGrafico()"> <i class="fas fa-chart-pie"></i> Ver/Ocultar Gráfico</button>
</div>

<div class="row justify-content-center" *ngIf="verGrafico">
  <div class="row mt-2">
    <div class="col-10">
      <h3>Leads por Producto</h3>
      <div style="display: block;">
        <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [colors]="colors"
        [chartType]="doughnutChartType"
        [options]="options">
      </canvas>
    </div>
  </div>
  <div class="col-2">
    <table class="table table-sm" style="font-size: 10px;">
      <thead>
        <tr>
          <th row="scope">Nombre</th>
          <th row="scope">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td> {{ item.nombrecampana }}</td>
          <td> {{ item.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<button type="button" class="btn btn-success" (click)="generateExcel()"> <i class="fas fa-save"></i> Excel</button>
<mat-form-field>
  <mat-label >Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="DDV SEPTIEMBRE	" #input autocomplete="off">
</mat-form-field>
<i class="fas fa-search"></i>
<div class="example-container mat-elevation-z8">  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="fechaEntrega">
      <th mat-header-cell *matHeaderCellDef> Fecha Recibido </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaEntrega | date}} </td>
    </ng-container>
    
    <ng-container matColumnDef="fechaGestion">
      <th mat-header-cell *matHeaderCellDef> Fecha Gestion </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaGestion | date}} </td>
    </ng-container>
    
    <ng-container matColumnDef="empresa">
      <th mat-header-cell *matHeaderCellDef> Empresa </th>
      <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
    </ng-container>
    
    <ng-container matColumnDef="tipoDocumento">
      <th mat-header-cell *matHeaderCellDef> Tipo Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
    </ng-container>
    
    <ng-container matColumnDef="nit">
      <th mat-header-cell *matHeaderCellDef> Nit </th>
      <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
    </ng-container>
    
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef> Observaciones </th>
      <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></tr>
  </table>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No hay datos que contengan: "{{input.value}}"</td>
  </tr> 
</div>